
<h1 class = "text-center" >Best team @ lewagon</h1>

<ul class="list-inline text-center">
  <% ["theo", "ralph", "edouard"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
